.complete {
  color: red;
  text-decoration: line-through;
}
button {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid grey;
  color: black;
  background-color: transparent;
}
