div
    span(ng-class='{ complete: $ctrl.item.complete }') {{$ctrl.item.task}}
    button(type='button', ng-click='$ctrl.onComplete();') Complete
    button(type='button', ng-click='$ctrl.onDelete();') Delete
