doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='static/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='components/components.css')
    body(ng-app='Application')
        div.container
            div.row
                todo-container

        script(src='static/angular/angular.min.js')
        script(src='static/a0-angular-storage/dist/angular-storage.min.js')
        script(src='static/dist/bundle.js')