div.col-md-6.col-md-offset-3
    div.panel.panel-default
        div.panel-heading
            strong Task List

        div.panel-body
            todo-form(new-task='$ctrl.addTask($event);')

        // todo-list
        todo-list(tasks='$ctrl.tasks')