div.col-md-6.col-md-offset-3
    div.panel.panel-default
        div.panel-heading
            strong Task List

        div.panel-body
            todo-form(new-task='$ctrl.addTask($event);')

        // todo-list
        table.table
            thead
                tr
                    th #
                    th Task
            tbody
                // todo-item
                tr(ng-repeat='item in $ctrl.tasks')
                    td {{item.id}}
                    td {{item.task}}